:root {
  --card-bg: #2c3e50;
  --card-text: #fff;
  --control-bg: #2c3e4f;
  --button-bg: #3498db;
  --button-text: #fff;
  --player-ready-glow: #00ffff;
  --background: #050f1c;
  --card-radius: 8px;
  --hover-scale: 1.5;
  --transition-time: 0.4s;
  --portrait-offset: 14.4vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

h1, h2, p {
  color: var(--card-text);
  text-align: center;
}

h1 { font-size: xx-large; }

h2 { font-size: x-large; }

p { font-size: small; }


/* =====================
   GLOBAL GAME 
   ===================== */
.game-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 20px;
  width: 100vw;
  height: 100vh;
}

.table-area {
  flex-grow: 1;
  display: flex;
}

.table-area.compact {
  gap: 7.5vw;
}


/* =====================
   PLAYER CARDS
   ===================== */
.player-card {
  position: relative;
  /* This represents a 2:3 aspect ratio, but using responsive variables. */
  /* Avoid adjusting. Made for the sprite sheet. */
  width: 14.4vw;
  height: 21.591vw;

  background: var(--card-bg) url("img/portraits.png") center/cover no-repeat;
  color: var(--card-text);
  padding: 0.75rem;
  border-radius: var(--card-radius);
  text-align: center;
  font-size: large;
  transform-origin: center center;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  transition: transform var(--transition-time) ease-in-out;
}

.player-card.compact {
  /* This represents a 2:3 aspect ratio, but using responsive variables. */
  /* Avoid adjusting. Made for the sprite sheet. */
  --portrait-offset: 8.35vw;
  width: 8vw;
  height: 12.5vw;
}

.card-stack.compact {
  display: flex;
  flex-direction: column;
  gap: 30vw;
}

.player-card.hidden-card{
  display: none;
}

/* Gradient overlay */
.player-card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
  pointer-events: none;
}

.player-card:hover {
  z-index: 2;
  transform: scale(1.25);
}
.player-card h2 {
  font-size: 1rem;
  margin-bottom: 0.4vh;
  word-break: break-word;
  position: relative;
}

.player-vacant {
  filter: grayscale(100%);
}

.player-value > p {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  z-index: 1;
}


/* =====================
   CONTROLS
   ===================== */
.controls-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  background: var(--control-bg);
  border-radius: var(--card-radius);
  align-items: center;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
}

.player-controls label {
  color: white;
  font-size: x-large;
}

.player-controls input,
.player-controls select {
  color: var(--card-bg);
}

.player-controls {
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
  width: 75%;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid #ddd;
  border-radius: var(--card-radius);
}

.player-controls label {
  font-weight: bold;
}

.player-controls input,
.player-controls select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: var(--card-radius);
}

.reveal-button {
  grid-column: 1 / -1;
  padding: 15px;
  color: var(--button-text);
  border: none;
  border-radius: var(--card-radius);
  cursor: pointer;
  font-size: 1.1rem;
  background: var(--button-bg);
  transition: background var(--transition-time) ease-in-out;
}

.reveal-button:hover {
  background: #ff9aff;
}

.player-ready {
  box-shadow: 0 0 2rem 0.25rem var(--player-ready-glow);
}


/* =====================
   SPRITE SLICING
   ===================== */
@media (min-width: 768px) {
  /* Create the the Chevron Pattern*/
  .card-stack:nth-child(1) { align-self: flex-end; }
  .card-stack:nth-child(2) { align-self: center; }
  .card-stack:nth-child(5) { align-self: center; }
  .card-stack:nth-child(6) { align-self: flex-end; }

  /* First row of cards */
  .card-stack:nth-child(1) .player-card { background-position-x: calc(var(--portrait-offset) * 0); }
  .card-stack:nth-child(2) .player-card { background-position-x: calc(var(--portrait-offset) * -1); }
  .card-stack:nth-child(3) .player-card { background-position-x: calc(var(--portrait-offset) * -2); }
  .card-stack:nth-child(4) .player-card { background-position-x: calc(var(--portrait-offset) * -3); }
  .card-stack:nth-child(5) .player-card { background-position-x: calc(var(--portrait-offset) * -4); }
  .card-stack:nth-child(6) .player-card { background-position-x: calc(var(--portrait-offset) * -5); }

  /* Second row of cards */
  .card-stack:nth-child(1) .player-card:last-child { background-position-x: calc(var(--portrait-offset) * -6); }
  .card-stack:nth-child(2) .player-card:last-child { background-position-x: calc(var(--portrait-offset) * -7); }
  .card-stack:nth-child(3) .player-card:last-child { background-position-x: calc(var(--portrait-offset) * -8); }
  .card-stack:nth-child(4) .player-card:last-child { background-position-x: calc(var(--portrait-offset) * -9); }
  .card-stack:nth-child(5) .player-card:last-child { background-position-x: calc(var(--portrait-offset) * -10); }
  .card-stack:nth-child(6) .player-card:last-child { background-position-x: calc(var(--portrait-offset) * -11); }
}

/* =====================
   GLOBE
   ===================== */
.globe {
  filter: blur(2px);
  z-index: -1;
  background: url("img/atlas.png");
  background-size: cover;
  animation: rotateglobe 432s linear 0s infinite;
  transform: rotateX(6deg) rotateY(6deg) rotateZ(6deg);
  position: absolute;
  top: 37vh;
  left: 1vw;
  width: 100vw;
  height: 100vh;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
}

@keyframes rotateglobe {
  0% {
    background-position: 0 951px;
  }
  100% {
    background-position: 6800px 600px;
  }
}
