services:
  model-un:
    image: ghcr.io/themagicnacho/model-un:main
    container_name: model-un-app
    restart: unless-stopped
    networks:
      - model-un-network
    expose:
      - 3000
    environment:
      - LOG_LEVEL=debug
  nginx:
    image: nginx:alpine
    container_name: model-un-deploy
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - model-un
    networks:
      - model-un-network
networks:
  model-un-network:
    driver: bridge
